In [1]:
#import dependencies
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv("ancestry.csv")
df

    Name  str mod  dex mod  int mod
0    elf        0        2       -2
1  human        1        1        1
2  dwarf        2       -2        0

In [3]:
# save dataframe as sqlite db
# create connection and name database
conn = sqlite3.connect('ancestry.sqlite')

# save dataframe to database
df.to_sql("ancestry", conn, if_exists='replace', index=False)

pd.read_sql('select * from ancestry', conn)

# close the conection to sqlite database
conn.close()

C:\Users\jerem\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [4]:
# create connection and name database
conn = sqlite3.connect('ancestry.sqlite')

n_df = pd.read_sql('select * from ancestry', conn)

In [5]:
n_df

    Name  str mod  dex mod  int mod
0    elf        0        2       -2
1  human        1        1        1
2  dwarf        2       -2        0

In [6]:
n_df['Name'].iloc[0]

'elf'